body{
    display: grid;
    grid-template-areas:
    "haus haus haus haus haus"
    "val val val val val"
    "vinstri adal adal adal haegri"
    " fotur fotur fotur fotur fotur";
    font-family: 'Trebuchet MS', sans-serif;
}