header, nav, aside, article, main, footer{
    border: 3px solid black;
    margin: 5px;
}

body{
    display: grid;
    grid-template-areas:
    "haus haus haus haus haus"
    "val val val val val"
    "vinstri adal adal adal haegri"
    " fotur fotur fotur fotur fotur";
    font-family: 'Trebuchet MS', sans-serif;
}

.haus{
    font: 'Trebuchet MS';
    text-align: center;
    color: darkblue;
    padding: 20px;
    font-size: 30px;
    grid-area: haus;
    background-color: gainsboro;
}
  
.valmynd{
    grid-area: val;
    text-align: center;
    padding: 10px;
    background-color: gainsboro;
    content: 10px;
}
  
.adal{ 
    grid-area: adal;
    text-align: center;
    padding: 20px;
    background-color: gainsboro; 
}

.haegri{
    grid-area: haegri; 
    padding: 20px; 
    background-color: gainsboro;
}

.fotur{
    grid-area: fotur;
    text-align: center;
    background-color: gainsboro;
}

.vinstri{
    grid-area: vinstri;
    padding: 20px; 
    background-color: gainsboro;
}
.dokkblar{
    color: darkblue;
}
.padding{
    padding: 0px 50px 0px 50px;
}
